.u-hidden {
  display: none !important;
}

.u-text-center {
  text-align: center;
}

.u-flex {
  display: flex;
}

.u-items-center {
  align-items: center;
}

.u-justify-between {
  justify-content: space-between;
}

.u-w-full {
  width: 100%;
}