:root {
  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1200px;

  --header-height: 76px;

  --section-padding-y: 112px;
  --section-padding-y-mobile: 76px;

  --content-max: 720px;
}